@font-face {
    font-family: 'ttOctosquares';
    src: url('../../assets/fonts/ttO.ttf');
}

h1{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}
Link{
    font-size: 40px;
}
.nuevo3{
    margin-bottom: 20px ;
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
}

